---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=landscape&query=denver%20nature
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Client-ID <UNSPLASH_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?orientation=landscape&page=14940&query=denver+nature>;
        rel="last", <https://api.unsplash.com/search/photos?orientation=landscape&page=2&query=denver+nature>;
        rel="next"
      X-Total:
      - '149397'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":149397,"total_pages":14940,"results":[{"id":"fw9cbA1WTi0","created_at":"2019-03-30T14:17:27-04:00","updated_at":"2019-07-14T01:31:41-04:00","width":4240,"height":2832,"color":"#1D1311","description":"Hiking
        in the Great Sand Dunes National Park the morning light covered the dunes
        for miles to come. ","alt_description":"person standing on sand dune","urls":{"raw":"https://images.unsplash.com/photo-1553969824-a69ef8081e55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjg0MzI0fQ","full":"https://images.unsplash.com/photo-1553969824-a69ef8081e55?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjg0MzI0fQ","regular":"https://images.unsplash.com/photo-1553969824-a69ef8081e55?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjg0MzI0fQ","small":"https://images.unsplash.com/photo-1553969824-a69ef8081e55?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjg0MzI0fQ","thumb":"https://images.unsplash.com/photo-1553969824-a69ef8081e55?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjg0MzI0fQ"},"links":{"self":"https://api.unsplash.com/photos/fw9cbA1WTi0","html":"https://unsplash.com/photos/fw9cbA1WTi0","download":"https://unsplash.com/photos/fw9cbA1WTi0/download","download_location":"https://api.unsplash.com/photos/fw9cbA1WTi0/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":34,"liked_by_user":false,"current_user_collections":[],"user":{"id":"Dh7LzGSHUGg","updated_at":"2019-07-15T13:02:40-04:00","username":"joshgordon","name":"Josh
        Gordon","first_name":"Josh","last_name":"Gordon","twitter_username":"justwavyj","portfolio_url":"https://joshgordonmedia.com","bio":"CREATOR
        | EDITOR | DIRECTOR \r\nIG @justwavyj","location":"Washington DC","links":{"self":"https://api.unsplash.com/users/joshgordon","html":"https://unsplash.com/@joshgordon","photos":"https://api.unsplash.com/users/joshgordon/photos","likes":"https://api.unsplash.com/users/joshgordon/likes","portfolio":"https://api.unsplash.com/users/joshgordon/portfolio","following":"https://api.unsplash.com/users/joshgordon/following","followers":"https://api.unsplash.com/users/joshgordon/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1531334464-5b3caffed263.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1531334464-5b3caffed263.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1531334464-5b3caffed263.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"justwavyj","total_collections":0,"total_likes":16,"total_photos":27,"accepted_tos":true},"tags":[{"title":"soil"},{"title":"outdoors"},{"title":"sand"},{"title":"nature"},{"title":"dune"},{"title":"desert"},{"title":"great
        sand dunes national park"},{"title":"united states"},{"title":"denver"},{"title":"adventure"},{"title":"hiking"},{"title":"light"},{"title":"sun"},{"title":"person"},{"title":"human"},{"title":"sexy"},{"title":"national
        park"},{"title":"exploring"},{"title":"great"},{"title":"beautiful"}]},{"id":"ONxt3hLkvs0","created_at":"2019-03-30T14:20:29-04:00","updated_at":"2[...]
